<div class="user-info">
  <div class="user-image">
    <% if user.photo.present? && image_path_exists?(user.photo) %>
    <%= image_tag user.photo, class: 'profile-image' %>
    <% else %>
    <%= image_tag 'blank.jpg', class: 'profile-image' %>
    <% end %>
  </div>
    <div class='user-details'>
      <p class="name-posts"><span class="username"><%= link_to user.name, user_path(user.id) %></span> <br>
        <span class='post-counter'>Number of posts: <%= user.post_counter %></span>
        </p>

        <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "submit-button" %>
    </div>
</div>