<section class="all-users">
  <div class="post_desc">
    <div class="post-desc-heading">
      <h2><%= @post.title %> by <%= @post.author.name%></h2>
      <p>Comments:<%= @post.comments_counter%>,  Likes:<%= @post.likes_counter%></p>
    </div>
    <p class="P_text"><%= @post.text%></p>
  </div>
  
  <div class="com_on_Post">
  <h3>comments:</h3>
    <ul>
      <% @post_comments.each do |comment| %>
        <li><%= comment.author.name %>: <%= comment.text %></li>
      <% end %>
    </ul>
  </div>

  <div class="bottom">
      <%= render 'shared/like', like: @like %>
      <% if can? :destroy, @post %>
        <%= button_to "Delete Post", user_post_path(user_id: @post.author_id, id: @post.id), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
      <% end %>

  </div>
</section>